asyncpg
awscli
cassandra-driver
duckdb
folium
geopandas
graphql-py
jupyter
jupyter_contrib_nbextensions
hdbcli
hana_ml
ipyleaflet
matplotlib
neo4j
numpy
oracledb 
pandas~=2.2.3
psycopg[binary,pool]
pyarrow
pymongo
redis~=5.1.1
seaborn
sqlalchemy~=2.0.35
mariadb
graphql-core
